<div class="spots-filter-container">
  <%= simple_form_for :spots_filter, url: spots_path, method: :get do |f| %>
    <div class="spots-filter">
      <div id="search-bar"> <%= f.input :search, label: "Search by dive site or country", required: false, value: params.dig(:spots_filter, :search) %> </div>

      <div id="tags-filters" class="index-filters">
        <!-- Dive Type -->
        <div id="dive-type-filters">
          <%= f.input :dive_type, label: "Type of dive", required: false, collection: DiveTypeTag.all, input_html: {class: "select2", multiple: ""} %>
        </div>

        <!-- Difficulty -->
        <div id="difficulty-filters">
          <%= f.input :difficulty, label: "Difficulty", required: false, collection: DifficultyTag.all, input_html: {class: "select2", multiple: ""} %>
        </div>

        <!-- Attractions -->
        <div id="attractions-filters">
          <%= f.input :attractions, label: "Attractions", required: false, collection: AttractionsTag.all, input_html: {class: "select2", multiple: ""} %>
        </div>

        <!-- Species -->
        <div id="species-filters">
          <%= f.input :species, label: "Search by species", required: false, collection: Fish.all, input_html: {class: "select2", multiple: ""} %>
        </div>

      </div>


      <%= f.submit "Search", class: "btn-submit", style:"height: 48px; margin-top: 32px; margin-left:8px;" %>
    </div>
  <% end %>
</div>


<div class="index-container">
  <div class="panels">

    <% @spots.each do |spot| %>

      <%= render "/shared/panel", spot: spot, whereami: "spots" %>

    <% end %>
  </div>

  <div class="mapp">
    <div id="map"
      style="width: 100%; height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-zoom="15"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']  %>">
    </div>
  </div>


</div>


<!-- These lines are necessary so that the markers be displayed on the map -->
<script>
  document.querySelector('.mapp').style.display = 'none';
  document.querySelector('.mapp').style.display = 'block';
</script>
