<div class="spots-filter-container">
  <%= simple_form_for :spots_filter, url: spots_path, method: :get do |f| %>
    <div class="spots-filter">
      <div class="search-bar"> <%= f.input :search, label: "Search by site name or country", value: params.dig(:spots_filter, :search) %> </div>
      <%= f.input :dive_type, as: :select, label: "Type of dive", collection: DiveTypeTag.all, input_html: { multiple: true, class: 'multiple-select' }, value: params.dig(:spots_filter, :dive_type) %>
      <%= f.input :difficulty, label: "Difficulty", collection: DifficultyTag.all, input_html: { multiple: true, class: 'multiple-select'  }, value: params.dig(:spots_filter, :difficulty) %>
      <%= f.input :attractions, label: "Attractions", collection: AttractionsTag.all, input_html: { multiple: true, class: 'multiple-select' }, value: params.dig(:spots_filter, :attractions)%>
      <%= f.input :fish, label: "Species", collection: Fish.all.sort_by{|fish| fish.name}, input_html: { multiple: true, class: 'multiple-select' }, value: params.dig(:spots_filter, :fish) %>
      <%= f.submit "Search", class: "btn-submit" %>
    </div>
  <% end %>
</div>


<div class="index-container">
  <div class="panels">

    <% @spots.each do |spot| %>

      <%= render "/shared/panel", spot: spot, whereami: "spots" %>

    <% end %>
  </div>

  <div class="mapp">
    <div id="map"
      style="width: 100%; height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-zoom="15"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']  %>">
    </div>
  </div>


</div>


<!-- These lines are necessary so that the markers be displayed on the map -->
<script>
  document.querySelector('.mapp').style.display = 'none';
  document.querySelector('.mapp').style.display = 'block';
</script>
