<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/5289883/pexels-photo-5289883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover; background-position: 50% 45%;">

  <div class="spot-new-container">
    <h1>You've found an incredible diving spot?</h1>
    <h5>Share it here</h5>

    <%= simple_form_for @spot do |f| %>
      <%= f.input :name, label: "Spot name" %>
      <%= f.input :region  %>
      <div class="coordinates">
        <div class="lat"><%= f.input :latitude %></div>
        <div class="long"><%= f.input :longitude %></div>
      </div>
      <%= f.input :description %>
      <%= f.input :spot, :as => :hidden, :input_html => { :value => @spot }  %>
      <div class="tags">
        <%= f.input :init_dive_type_tags, label: "Type of dive", required: true, collection: DiveTypeTag.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
        <%= f.input :init_difficulty_tags, label: "Difficulty", required: true, collection: DifficultyTag.all, input_html: { multiple: true, class: 'multiple-select'  }, include_hidden: false %>
        <%= f.input :init_attractions_tags, label: "Attractions", required: true, collection: AttractionsTag.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>


      <div class="btn-container"><%= f.button :submit, "Add this spot!", class: 'btn-submit' %></div>
    <% end %>
    <!-- <p><em>(and don't forget to review it as well...)</em></p> -->
  </div>


</div>



