<h1 class="text-center">My conversations</h1>

<div class="messagerie">
  <div class="conv-panels">
    <h2 class="text-center">Discussions</h2>
    <%current_user.conversations.group("id").each do |conversation|%>
      <% @contact = conversation.users.where.not(id: current_user) %>
      <%= link_to conversation_path(conversation), style: 'text-decoration: none; color: black;' do %>
        <div class="c-panel">
          <img src=" <%= @contact.first.avatar_url%> " alt="" class="avatar-large">
          <div class="text-panel">
            <h3><%= @contact.first.first_name%></h3>
            <div class="preview">

              <p><%=conversation.messages.last.content%><span> · <%=conversation.messages.last.created_at.strftime("%H:%M")%></span> </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="conv-show">
    <div class="container-conv">
      <% @conversation.messages.each_with_index do |message,index|  %>
        <% day = message.created_at.strftime("%d-%m-%Y")[0,2] %>
        <% month = Date::MONTHNAMES[message.created_at.strftime("%d-%m-%Y")[3,2].to_i] %>
        <% year = message.created_at.strftime("%d-%m-%Y")[6,4] %>
        <% if message.user_id == current_user.id %>
          <div class="receiver">
            <% if index == 0 || message.user_id != @conversation.messages[index-1].user_id %>
              <div class="message-header-receiver">
                <div class="header-text"><%=month%> <%= day %>, <%= year %> at  <%= message.created_at.strftime("%I:%M %p") %> </div>
                <img src="<%= message.user.avatar_url%>" alt="" class="avatar">
              </div>
            <% end %>
            <div class="message-content-receiver"><p> <%= message.content %> </p> </div>
          </div>
        <% else %>



          <div class="sender">
            <% if index == 0 || message.user_id != @conversation.messages[index-1].user_id %>
              <div class="message-header-sender">
                <img src="<%= message.user.avatar_url%>" alt="" class="avatar">
                <div class="header-text"><%=month%> <%= day %>, <%= year %> at  <%= message.created_at.strftime("%I:%M %p") %> </div>
              </div>
            <% end %>
            <div class="message-content-sender"><p> <%= message.content %> </p> </div>
          </div>

        <% end %>
      <% end %>
    <div class="messages-form">
      <%= simple_form_for @message do |f| %>
        <%= f.input :content, as: :string, placeholder: "Aa", label: false, :input_html => {:style=> 'border-radius: 18px; height:40px', :id=> 'conv-form'} %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.input :conversation, :as => :hidden, :input_html => { :value => @conversation.id } %>
      <% end %>
    </div>

    </div>
  </div>

</div>
