<h1 class="text-center mt-3" id="title-conv">MOAI'A Messenger</h1>

<div class="messagerie">
  <div class="conv-panels">
    <h2 id="title-conv">All chats</h2>
    <hr>
    <%#current_user.conversations.group("id").each do |conversation|%>
    <%selected_conversations = Conversation.all.select do |conversation|%>
      <% conversation.people.include?(current_user.id) %>
    <% end %>

    <% selected_conversations.each do |conversation| %>
      <div class="panel-container">
        <% @contact_id = conversation.people %>
        <% @contact_id.delete(current_user.id) %>
        <% @contact = User.find(@contact_id[0]) %>
        <%= link_to conversation_path(conversation), style: 'text-decoration: none; color: black; width: 100%;' do %>
          <div class="c-panel <%= "active-msg" if current_page?(conversation_path(conversation))  %> ">
            <img src=" <%= @contact.avatar_url%> " alt="" class="avatar-large">
            <div class="text-panel">
              <h3><%= @contact.first_name%></h3>
              <div class="preview">
                <% unless conversation.messages.last.nil?  %>
                  <p><%=conversation.messages.last.content.truncate(16)%></p>
                  <p><%=conversation.messages.last.created_at.strftime("%H:%M")%></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- <hr style="margin-top:0"> -->
    <% end %>
  </div>
  <div class="wrapper-conv">
  <% @friend_id = @conversation.people %>
        <% @friend_id.delete(current_user.id) %>
        <% @friend = User.find(@friend_id[0]) %>
        <p id="chat-with" ><%= "Chat with #{@friend.first_name}"%></p>
  <div class="conv-show">
  <%# @friend = @conversation.users.where.not(id: current_user) %>

    <div class="container-conv">


      <% unless @conversation.messages.last.nil?  %>

      <div class="conversation-name">

      </div>
      <div class="messages-container" id="messages-container" data-conversation-id="<%= @conversation.id %>">

        <% @conversation.messages.each_with_index do |message,index|  %>

          <% day = message.created_at.strftime("%d-%m-%Y")[0,2] %>
          <% month = Date::MONTHNAMES[message.created_at.strftime("%d-%m-%Y")[3,2].to_i] %>
          <% year = message.created_at.strftime("%d-%m-%Y")[6,4] %>
          <% if message.user_id == current_user.id %>
            <div class="receiver">
              <% if index == 0 || message.user_id != @conversation.messages[index-1].user_id %>
                <div class="message-header-receiver">
                  <div class="header-text"><%=month%> <%= day %>, <%= year %> at  <%= message.created_at.strftime("%I:%M %p") %> </div>
                  <img src="<%= message.user.avatar_url%>" alt="" class="avatar">
                </div>
              <% end %>
              <div class="message-content-receiver" id="message-<%= @conversation.messages.last.id %>"><p> <%= message.content %> </p> </div>
            </div>
          <% else %>
            <div class="sender">
              <% if index == 0 || message.user_id != @conversation.messages[index-1].user_id %>
                <div class="message-header-sender">
                  <img src="<%= message.user.avatar_url%>" alt="" class="avatar">
                  <div class="header-text"><%=month%> <%= day %>, <%= year %> at  <%= message.created_at.strftime("%I:%M %p") %> </div>
                </div>
              <% end %>
              <div class="message-content-sender" id="message-<%= @conversation.messages.last.id %>"><p> <%= message.content %> </p> </div>
            </div>
          <% end %>

        <% end %>
        <% else %>
        <h3  id="title-conv" class="text-center my-5">Send a message !</h3>
      <% end %>
    </div>
    <div class="messages-form">
      <%= simple_form_for @message, remote: true do |f| %>
        <%= f.input :content, as: :string, placeholder: "Aa", label: false, :input_html => {:style=> 'border-radius: 18px; height:40px', :id=> 'conv-form', autocomplete: 'off', autofocus: 'on'} %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.input :conversation, :as => :hidden, :input_html => { :value => @conversation.id } %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <% end %>
    </div>


    </div>
  </div>
  </div>
</div>
