<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "manta-ray-shape.png" %>
  <% end %>



    <ul class="navbar-nav mr-auto">
       <div class="links-container">
        <li class="nav-item active left <%= 'active-link' if current_page?(spots_path) %>"><%= link_to "Find a dive site", spots_path, class: "nav-link" %></li>

       <% if user_signed_in? %>
        <li class="dots">•</li>
        <li class="nav-item active left <%= 'active-link' if current_page?(likes_path) %>"><%= link_to "Favorite dive sites", likes_path, class: "nav-link" %></li>
        <li class="dots">•</li>
        <li class="nav-item active left <%= 'active-link' if current_page?(new_spot_path) %>"><%= link_to "Add a new dive site", new_spot_path, class: "nav-link" %></li>

      <% end %>

       </div>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active <%= 'active-link' if current_page?(user_path(current_user)) %>">
          <%= link_to current_user.first_name, user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% profile_picture = current_user.avatar_url == nil ? "emptyprofile.png" : current_user.avatar_url %>
          <%= image_tag profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>

            <%selected_conversations = Conversation.all.select do |conversation|%>
              <% conversation.people.include?(current_user.id) %>
            <% end %>
            <% unless selected_conversations.empty? %>
              <%= link_to "Messages", conversation_path(selected_conversations.last), class: "dropdown-item" %>
            <% end %>

            <%= link_to "Friends", "#", class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% unless current_page?(spots_path) %>
  <div style="height: 60px;"></div>
<% end %>
