<div class="panel" id="spot_<%=spot.id%>" data-whereami="<%= whereami %>">

  <% photo_key = spot.photos.count.zero? ? 'g800mew8nhinkxmg6uok92ssk1en' : spot.photos.first.key %>
  <div class="photo" style="background-image: url('<%= cl_image_path photo_key %>')"></div>

  <%= link_to spot_path(spot, current_user), style: 'text-decoration: none;' do %>
    <div class="panel-details">
      <div class="panel-text">
        <h2> <%= spot.name %> </h2>
        <h4> <%= spot.region %> </h4>
      </div>

      <div class="tags-list">
        <% spot.dive_type_tags.each do |tag| %>
          <div class="tag tag-blue"><%= tag.name %></div>
        <% end %>
        <% spot.difficulty_tags.each do |tag| %>
            <div class="tag tag-orange"><%= tag.name %></div>
        <% end %>
        <% spot.attractions_tags.each do |tag| %>
            <div class="tag tag-green"><%= tag.name %></div>
        <% end %>
      </div>

      <% average_rating = spot.reviews.empty? ? '-' : spot.reviews.average(:rating).round(1) %>
      <div class="panel-rating">
        <i class="fas fa-star"></i> <%= average_rating %> (<%= spot.reviews.count %>)
      </div>
    </div>
  <% end %>

  <% like = Like.find_by(user_id: current_user.id, spot_id: spot.id) %>

  <% if like.nil? %>
    <div><i class="far fa-heart" data-spotid= "<%= spot.id %>"></i></div>
  <% else %>
    <div><i class="fas fa-heart" data-spotid= "<%= spot.id %>" data-likeid= "<%= like.id %>"></i></div>
  <% end %>

</div>

