<!DOCTYPE html>
<html>
  <head>
    <title>Moai'a</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_pack_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rochester&family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">  </head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <!-- Select2 -->

    <!-- Open Graph tags for social media preview  -->
    <meta prefix="og: http://ogp.me/ns#" name="image" property="og:image" content="https://image.kkday.com/v2/image/get/s1.kkday.com/product_114374/20201217025918_KCPvP/jpg">

    <!-- <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://i.picsum.photos/id/848/950/500.jpg?hmac=nByq3SUmxZDHdxX5HIe0mQ92KSCcHQ4e1zVdfC6cz50" /> -->
    <meta name="description" property="og:description" content="Enhance your diving experience">
    <meta property="og:title" content="Moai'a">
    <meta property="og:url" content="http://www.moaia-dive.xyz/">

    <!-- Favicon (for browser tab) -->
    <%= favicon_link_tag asset_path('manta-ray-shape.png') %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
